body{
    background: rgb(61, 59, 59);
    background-image: linear-gradient(rgba(240, 202, 175) ,rgb(233, 229, 227));
    width: auto;
    height: auto;
}


.buttons .btn{
    display: flex;
    justify-content: center;
    

}
#button1 , #button2{
    padding: 7px 10px;
    border-radius: 10px;
    background: grey;
}
#button1:hover , #button2:hover{
    background: rgba(0,0,0,0.9);
}
#button1:hover{
    color: white;
    font-weight: 600;
}
#button2:hover{
    color: white;
    font-weight: 600;
}
.text-center h1{
    font-weight: 800;
    font-size: 4em;
}
.form{
    border: 3px solid black;
    border-radius: 3px;
}
.form label{
    font-weight: 500;
}
